.Error{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: baseline;
  height: 100vh;
margin-top: 30vh;
  color: var(--main-color);
  p:first-of-type{
    font-size: 48px;
    font-weight: bold;

  }
  p:last-of-type{
    font-size: 30px;
  }
}