* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #3975ab;
}
html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
  padding: 30px;
}
header{
  text-align: center;
  color: var(--main-color);
}
footer{
  position: absolute;
  bottom: 5%;
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
}




